<!DOCTYPE html>
<html lang="{{ $.Site.Language.Lang }}">

    {{ partial "head.html" . }}
    
    <body>
        <div id="navigation">
        {{ partial "navigation.html" . }}
        </div>
        
        <div id="content">
        {{ block "main" . }}{{ end }}
        </div>
        
        {{ partial "footer.html" . }}

        {{ $script := .Site.Data.webpack.main }}
        {{ with $script.js }}
          <script src="{{ relURL . }}"></script>
        {{ end }}

        <!-- netlify identity redirect -->
        <script>
          if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
              if (!user) {
                window.netlifyIdentity.on("login", () => {
                  document.location.href = "/admin/";
                });
              }
            });
          }
        </script>
    </body>

</html>
