{{ define "main" }}

<section class="events-header">
    <div class="section-header" style="background-image: url(/img/defaults/social.jpg)">
    <div class="section-header-overlay"></div>
        <h1 class="section-header-title">Social Events</h1>
    </div>
</section>

<section class="events-gallery">
    <div class="section-title"><h1>Gallery</h1><hr></div>
    <div class="events-gallery-container">
        {{ range .Pages }}
        <a href="{{ .URL }}">
        {{ with .Params }}
        <div class="events-gallery-item" style="background-image: url({{ index .thumbnail 0 }});">
            <div class="events-gallery-item-overlay"></div>
            <h1>{{ .title }}</h1>
        </div>
        {{ end }}
        </a>
        {{ end }}
    </div>
</section>

<section class="events-icons">
    <div class="section-title"><hr><h1>We'll Help You Celebrate</h1><hr></div>
    <div class="events-icons-container">
        <div class="events-icons-set">
            <div class="events-icons-item"><i class="fas fa-birthday-cake"></i><span>Birthdays</span></div>
            <div class="events-icons-item"><i class="fas fa-baby-carriage"></i><span>Baby Showers</span></div>
            <div class="events-icons-item"><i class="fas fa-utensils"></i><span>Dinners</span></div>
        </div>
        <div class="events-icons-set">
            <div class="events-icons-item"><i class="fas fa-graduation-cap"></i><span>Graduations</span></div>
            <div class="events-icons-item"><i class="fas fa-heart"></i><span>Anniversaries</span></div>
            <div class="events-icons-item"><i class="fas fa-gifts"></i><span>Parties</span></div>
        </div>
    </div>
</section>

{{ $scratch := newScratch }}
{{ $scratch.Set "showTestimonials" false }}

{{ range .Pages }}
    {{ if .Params.testimonials }}
        {{ $scratch.Set "showTestimonials" true }}
    {{ end }}
{{ end }}

{{ $showTestimonials := $scratch.Get "showTestimonials" }}

{{ if $showTestimonials }}
<section class="events-testimonials">
    <div class="section-title"><hr><h1>Testimonials</h1><hr></div>
    <div class="testimonial-carousel">
        {{ range .Pages }}
        {{ $event := .Params.title }}
        {{ range .Params.testimonials }}
        <div class="testimonial">
            <p class="testimonial-quote"><em>"{{ .testimonial }}"</em></p>
            <p class="testimonial-author"><strong>{{ .author }}</strong></p>
            <p class="testimonial-event">{{ $event }}</p>
        </div>
        {{ end }}
        {{ end }}
    </div>
</section>
{{ end }}

<section class="home-contact"> 
    <h1>Ready to plan your event?</h1>
    <a href="/contact" class="button">Contact Us!</a>
</section>

{{ end }}