#weddings-header {
    .section-header {
        background-image: url(/img/defaults/main.jpg);
        min-height: 30vh;
        border-bottom: 1px solid $brand-blue;
    }
}

#weddings-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weddings-services-container {
    margin: 3vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    .weddings-services-set {
        display: flex;
        flex-direction: column;
        width: 50vw;
    }
    .weddings-service-item {
        color: $brand-blue;
        font-family: $brand-font-nav;
        i {
            padding: 10px;
            background-color: $brand-blue;
            border-radius: 50%;
            color: white;
            margin: 0 10px;
        }
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: 2vh 0;
    }
    .weddings-services-set:nth-of-type(1) {
        .weddings-service-item {
            flex-direction: row-reverse;
        }
    }
}

#weddings-gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .weddings-gallery-container {
        margin: 2vh 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        a {
            text-decoration: none;
        }
        .weddings-gallery-item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 45vw;
            height: 45vw;
            object-fit: cover;
            background-size: cover;
            .weddings-gallery-item-overlay {
                position: absolute;
                width: inherit;
                height: inherit;
                z-index: 1;
                background-color: rgba(250, 250, 250, 0.4);
            }
            .weddings-gallery-item-overlay ~ * {
                z-index: 2;
            }
            .weddings-gallery-item-overlay:hover {
                cursor: pointer;
                background-color: rgba(250, 250, 250, 0.6);
            }
            h1 {
                padding: 0 10px;
                color: $brand-blue;
                text-shadow: 1px 1px rgba(250,250,250,0.5);
                font-family: $brand-font-normal;
                font-weight: bold;
                text-align: center;
            }
        }
    }
}

#weddings-testimonials {
    .section-title {
        text-align: center;
        hr {
            margin: auto;
        }
    }
}

#testimonial-carousel {
    width: 80vw;
    margin: 2vh auto;
}

.testimonial {
    text-align: center;
    background-color: rgba($brand-blue, 0.2);
    color: $brand-blue;
    line-height: 1.5;
    p {
        margin: 0;
        padding: 15px;
    }
    .testimonial-quote, .testimonial-author {
        font-family: $brand-font-normal;
    }
    .testimonial-author {
        padding-bottom: 0;
        padding-top: 0; 
    }
    .testimonial-wedding {
        padding-top: 5px;
        font-size: 0.8rem;
        font-family: $brand-font-cursive;
    }
}

@media screen and (min-width: 768px) {
    .weddings-services-container {
        flex-direction: column;
        flex-wrap: wrap;
        .weddings-services-set {
            flex-direction: row;
            width: auto;
            justify-content: space-evenly;
            align-items: center;
        }
        .weddings-service-item {
            flex-direction: column;
            justify-content: center;
            i {
                font-size: 2vw;
                margin: 10px 0;
            }
        }
        .weddings-services-set:nth-of-type(1) {
            .weddings-service-item {
                flex-direction: column;
            }
        }
    }

    #weddings-gallery {
        .weddings-gallery-container {
            grid-template-columns: repeat(4, 1fr);
            .weddings-gallery-item {
                width: 20vw;
                height: 20vw;
            }
        }
    }
}