{{ define "main" }}

<section id="weddings-header">
    <div class="section-header">
    <div class="section-header-overlay"></div>
        <h1 class="section-header-title">Weddings</h1>
    </div>
</section>

<section id="weddings-services">
    <div class="section-title"><hr><h1>Services</h1><hr></div>
    <div class="weddings-services-container">
        <div class="weddings-services-set">
            <div class="weddings-service-item"><i class="fas fa-utensils"></i><span>Catering</span></div>
            <div class="weddings-service-item"><i class="fas fa-guitar"></i><span>Entertainment</span></div>
            <div class="weddings-service-item"><i class="fas fa-camera"></i><span>Photography</span></div>
            <div class="weddings-service-item"><i class="fas fa-video"></i><span>Videography</span></div>
        </div>
        <div class="weddings-services-set">
            <div class="weddings-service-item"><i class="far fa-star"></i><span>Innovation</span></div>
            <div class="weddings-service-item"><i class="fas fa-mail-bulk"></i><span>Stationary</span></div>
            <div class="weddings-service-item"><i class="fas fa-holly-berry"></i><span>Decoration</span></div>
            <div class="weddings-service-item"><i class="far fa-eye"></i><span>Makeup</span></div>
        </div>
    </div>
</section>

<section id="weddings-gallery">
    <div class="section-title"><hr><h1>Gallery</h1><hr></div>
    <div class="weddings-gallery-container">
        {{ range .Pages }}
        <a href="{{ .URL }}">
        {{ with .Params }}
        <div class="weddings-gallery-item" style="background-image: url({{ .thumbnail }});">
            <div class="weddings-gallery-item-overlay"></div>
            <h1>{{ .title }}</h1>
        </div>
        {{ end }}
        </a>
        {{ end }}
    </div>
</section>

<section id="weddings-testimonials">
    <div class="section-title"><hr><h1>Testimonials</h1><hr></div>
    {{ range .Pages }}
    {{ with .Params.testimonials }}
    <div class="testimonial">
        <p>{{ .testimonial }}</p>
        <span>- {{ .author }}</span>
    </div>
    {{ end }}
    {{ end }}
</section>

{{ end }}