{{ define "main" }}

<section id="home-main-section">
    <div class="home-section-header">
    <div class="home-section-header-overlay"></div>
        <div class="home-brand-container">
            <div class="ar-brand">تصمــيم أعراس ومنــــاسبــــات</div>
            <div class="en-brand">Events & Weddings Planning</div>
        </div>
        <div class="home-call2action-container">
            <div class="home-call2action-text">Crafting memories to perfection... Let's craft yours!</div>
            <a class="home-call2action-button" href="tel:{{ .Site.Params.phoneNumber }}">Call Us Now!</a>
            <a class="home-call2action-button-desktop" href="/contact">Contact Us!</a>
        </div>
    </div>
    
    <div class="home-section-content">
        <p>
            Blurb of text about the company... lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>
</section>

<section id="home-weddings-section">
    <div class="home-section-header">
    <div class="home-section-header-overlay"></div>
        <h1 class="home-section-header-title">Weddings</h1>
    </div>
    
    <div class="home-section-content">
    
    </div>
</section>

<section id="home-corporate-section">
    <div class="home-section-header">
    <div class="home-section-header-overlay"></div>
        <h1 class="home-section-header-title">Corporate Events</h1>
    </div>
    
    <div class="home-section-content">
    
    </div>
</section>

<section id="home-social-section">
    <div class="home-section-header">
    <div class="home-section-header-overlay"></div>
        <h1 class="home-section-header-title">Social Events</h1>
    </div>
    
    <div class="home-section-content">
    
    </div>
</section>

{{ end }}
