{{ define "main" }}

{{ $phone := .Site.Data.contact_details.phone }}

{{ with .Params.main_section }}
<section id="home-main-section">
    <div class="section-header" style="background-image: url({{ index .image 0 }});">
    <div class="section-header-overlay"></div>
        <div class="home-brand-container">
            <div class="ar-brand">تصمــيم أعراس ومنــــاسبــــات</div>
            <div class="en-brand">Events & Weddings Planning</div>
        </div>
        <div class="home-call2action-container">
            <div class="home-call2action-text">Crafting memories to perfection... Let's craft yours!</div>
            <a class="home-call2action-button" href="tel:{{ $phone }}" title="{{ $phone }}">Call Us Now!</a>
            <a class="home-call2action-button-desktop" href="/contact">Contact Us!</a>
        </div>
    </div>
    
    <div class="section-content">
        {{ .content | markdownify }}
    </div>
</section>
{{ end }}

{{ with .Params.weddings_section }}
<section id="home-weddings-section">
    <div class="section-header" style="background-image: url({{ index .image 0 }});">
    <div class="section-header-overlay"></div>
        <h1 class="section-header-title">Weddings</h1>
        <a class="section-button" href="/weddings">{{ .button_text }}</a>
    </div>
    
    <div class="section-content">
        {{ .content | markdownify }}
    </div>
</section>
{{ end }}

{{ with .Params.corporate_section }}
<section id="home-corporate-section">
    <div class="section-header" style="background-image: url({{ index .image 0 }});">
    <div class="section-header-overlay"></div>
        <h1 class="section-header-title">Corporate Events</h1>
        <a class="section-button" href="/corporate">{{ .button_text }}</a>
    </div>
    
    <div class="section-content">
        {{ .content | markdownify }}
    </div>
</section>
{{ end }}

{{ with .Params.social_section }}
<section id="home-social-section">
    <div class="section-header" style="background-image: url({{ index .image 0 }});">
    <div class="section-header-overlay"></div>
        <h1 class="section-header-title">Social Events</h1>
        <a class="section-button" href="/social">{{ .button_text }}</a>
    </div>
    
    <div class="section-content">
        {{ .content | markdownify }}
    </div>
</section>
{{ end }}

<section class="home-contact"> 
    <h1>Ready to plan your event?</h1>
    <a href="/contact" class="button">Contact Us!</a>
</section>

{{ end }}
