{{ define "main" }}

{{ with .Params }}

    <section>
        
        <div class="section-header-overlay"></div>
            <h1 class="section-header-title">About</h1>
        </div>
    </section>
    
    <section class="about-container"> 
        <h1 class="about-header">Our Mission</h1>
        <div class="about-content">
            {{ index .mission | markdownify }}
        </div>
    </section>

    <section class="about-container"> 
        <h1 class="about-header">Our Values</h1>
        <div class="about-content">
            {{ index .values | markdownify }}
        </div>
    </section>

    <section class="about-container"> 
        <h1 class="about-header">Our Story</h1>
        <div class="about-content">
            
            {{ index .story | markdownify }}
        </div>
    </section>

    <section class="about-container"> 
        <h1 class="about-header">Our Customers</h1>
        <div class="customer-logo-container">
            {{ range index .customers }}
            <div class="customer-logo"><img src="{{ . }}" alt=""></div>
            {{ end }}
        </div>
    </section>

    <section class="about-container"> 
        <h1 class="about-header">Ready to plan your event?</h1>
        <a href="/contact" class="contact-button">Contact Us!</a>
    </section>

{{ end }}

{{ end }}